<div class="form-container">
  <form (ngSubmit)="changePasswordFormSubmit()" #changePasswordForm="ngForm">
    <!-- Old Password Input -->
    <div class="form-group">
      <label for="currentPassword">Old Password</label>
      <div class="password-input-container">
        <input [type]="passwordVisibility['currentPassword'] ? 'text' : 'password'" id="currentPassword" name="currentPassword" [(ngModel)]="changePasswordData['currentPassword']" required>
        <button type="button" class="view-password-button" (click)="toggleViewPassword('currentPassword')">
          {{ passwordVisibility['currentPassword'] ? 'Hide Password' : 'View Password' }}
        </button>
      </div>
    </div>
    <!-- New Password Input -->
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <div class="password-input-container">
        <input [type]="passwordVisibility['newPassword'] ? 'text' : 'password'" id="newPassword" name="newPassword" [(ngModel)]="changePasswordData['newPassword']" required>
        <button type="button" class="view-password-button" (click)="toggleViewPassword('newPassword')">
          {{ passwordVisibility['newPassword'] ? 'Hide Password' : 'View Password' }}
        </button>
      </div>
    </div>
    <!-- Confirm Password Input -->
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <div class="password-input-container">
        <input [type]="passwordVisibility['confirmPassword'] ? 'text' : 'password'" id="confirmPassword" name="confirmPassword" [(ngModel)]="changePasswordData['confirmPassword']" required>
        <button type="button" class="view-password-button" (click)="toggleViewPassword('confirmPassword')">
          {{ passwordVisibility['confirmPassword'] ? 'Hide Password' : 'View Password' }}
        </button>
      </div>
      <div *ngIf="changePasswordData['newPassword'] !== changePasswordData['confirmPassword']">
        Passwords do not match.
      </div>
    </div>
    <!-- Display Message -->
    <div>{{ message }}</div>
    <!-- Submit Button -->
    <button type="submit" [disabled]="changePasswordForm.invalid || changePasswordData['newPassword'] !== changePasswordData['confirmPassword']">Change Password</button>
  </form>
</div>