  <div class="wrapper">
    <form class="login"  
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()" 
    #f="ngForm"
    novalidate>
      <p class="title">Sign Up</p>
      <input type="text" placeholder="Username" autofocus  type="text"
      class="form-control"
      name="username"
      [(ngModel)]="form.username"
      required
      #username="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && username.errors }"/>
      <i class="fa fa-user"></i>
      <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
        Username is required!
      </div>



      <input type="text" placeholder="Email" autofocus  type="text"
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="form.email"
      required
      email
      #email="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
      <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors['required']">Email is required</div>
        <div *ngIf="email.errors['email']">
          Email must be a valid email address
        </div>
      </div>

      <input
        type="text"
        placeholder="Contact Number"
        autofocus
        type="text"
        class="form-control"
        name="Contact"
        [(ngModel)]="form.phone"
        required 
        #phone="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && phone.errors }"/>
      <i class="fa fa-contact"></i>
      <div *ngIf="phone.errors && f.submitted" class="invalid-feedback">
        Contact Number is required and must be a valid phone number!
      </div>


      <input type="password" placeholder="Password"
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"/>
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
       
      <i class="fa fa-key"></i>
      <a href="#">Forgot your password?</a>
      <button>
        <i class="spinner"></i>
        <span class="state">Sign Up</span>
      </button>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
      
    </div>
    <a>Already registered? &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login" routerLink="/login">Log In</a></a>
</div>
